<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template file</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="logo">
        <img src="https://github.com/webpack/webpack.github.com/blob/master/assets/logo-vertical.png?raw=true" alt="Webpack">
    </div>
    <div class="root"></div>
    <script src="bundle.js"></script>
</body>
</html>
